<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://conversion-202010271751.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ad28cb2e-1623-4812-aa67-82e7b55a3ac9/resourceGroups/learning.sandbox.rg/providers/Microsoft.Web/sites/Conversion-202010271751</ResourceId>
    <UserName>$Conversion-202010271751</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://conversion-202010271751.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>